# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TERTp\jeeWebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
